body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

form h2 {
  text-align: center;
  margin-top: -15px;
  color: #333;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

button {
  width: 107%;
  padding: 12px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #388e3c;
}

@media (min-width: 768px) {
  .form-container {
    max-width: 400px;
    padding: 40px;
  }

  input,
  button {
    font-size: 18px;
  }

  form h2 {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .form-container {
    padding: 20px;
  }

  form h2 {
    font-size: 20px;
  }

  input,
  button {
    font-size: 16px;
  }
}
